.logos {
  .logos-group {
    width: 245px;
    margin: 20px auto;

    img:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }
  .last {
    width: 123px;
  }
}